<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277660257122-sjothq1jndsteu9om368thkhs8ql9dgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277660257122-sjothq1jndsteu9om368thkhs8ql9dgm</string>
	<key>API_KEY</key>
	<string>AIzaSyDgt7rvsRhP5LfX2LTeLSLP4hT5L9QH--k</string>
	<key>GCM_SENDER_ID</key>
	<string>277660257122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitTracker</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-60f7d</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-60f7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277660257122:ios:0d990b0579489e793d3a3b</string>
</dict>
</plist>